/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fff;
    transition: .5s ease all;
}

i:hover {
    color: var(--orange-color);
}

ul {
    list-style: none;
}

:root {
    --orange-color: #E87D1B;
    --btn-blue: #2D5FDE;
    --font-color: #727171;
    --footer-bg: #504E4E;
    --footer-date: #242222;
    --font-family: 'Inter', sans-serif;
    --bold-txt: bold;
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown:#fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown:#915b40;
    --light-yellow:#f8e3a8;
    --light-red:#f3ac99;
    --light-teal:#a6c8cc;
    --light-gray:#ddd5d6;
    --theme-color2: #e89a3d;
    --white-color: #fff;
    --black-color: #000;
    --flex: flex;
    --flex-space: space-between;
    --flex-column: column;

}

.fas, .fab {
    font-size: 1.2rem;
}

/* navbar */
/* nav top */

.menu {
    color: #fff;
    padding: 20px 20px 0 20px;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.social-media {
    display: var(--flex);
    justify-content: var(--flex-space);
    /* border-bottom: 1px solid #bfbfbf; */
    padding-bottom: 10px;
}

.slogan p {
    color: var(--white-color);
}

.logo-mobile,
.btn-call-us,
.btn-job-mobile {
    display: none;
}

.social-icons  {
    display: var(--flex);
    justify-content: var(--flex-space);
    width: 20%;
}

.social-icons p{
    font-weight: var(--bold-txt);
}

.social-icons i:nth-child(5)::before {
    content: '';
    border: 1px solid #A6A8A9;
    opacity: .5;

}
/* .social-icons i:nth-child(6) {
    color: var(--btn-blue);
} */

/* nav buttom */

.nav-links {
    display: var(--flex);
    justify-content: var(--flex-space);
    align-items: center;
    padding: 10px 0;
}

.logo img  {
    width: 120px;
}

.links, ul {
    display: var(--flex);
}

ul li {
    padding: 0px 0px 0px 30px;
}

ul li a:hover {
    border-bottom: 2px solid var(--orange-color);
}

.white {
    color: var(--white-color) !important;
}

.btn {
    background-color: var(--orange-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-weight: var(--bold-txt);
    height: 40px;
    text-transform: uppercase;
    width: 160px;
}

.btn:nth-child(2) {
    color: var(--black-color);
    background-color: transparent;
    border: 1px solid var(--orange-color);
    margin: 0 20px 0 0;

}

/* end navbar */
/* mobile burger menu */

.menu-wrap { /*set up position*/
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 99;
}

.menu-wrap .toggler{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	opacity: 0;
	width: 50px;
	z-index: 2;
}

.menu-wrap .hamburger{
	align-items: center;
	background: transparent;
	display: var(--flex);
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	justify-content: center;
	width: 60px;
	z-index: 1;
}

.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 2px;
	background: #000;
	display: var(--flex);
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: #000;
}

.menu-wrap .hamburger > div:after{
	top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}

/*trigger X*/

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}

/*show menu*/

.menu-wrap .toggler:checked ~ .menu-mobile{
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu-mobile > div {
	transform: scale(1);
	transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu-mobile > div > div{
	opacity: 1;
	transition: opacity 0,4s ease;
}

.menu-wrap .menu-mobile{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: var(--flex);
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu-mobile > div{
	background: var(--btn-blue);
	width: 200vh;
	height: 200vh;
	display: var(--flex);
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
}

.menu-wrap .menu-mobile > div > div{
	text-align: center;
	max-width: 90vh;
	max-height: 100vh;
	opacity: 0;
    transition: opacity 0.4s ease;
    display: var(--flex);
    flex-direction: var(--flex-column);
    justify-content: center;
    align-items: center;
}

.menu-wrap .menu-mobile > div > div ul > li{
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
    padding: 1rem;
    font-weight: var(--bold-txt);
}

.menu-wrap .menu-mobile > div > div ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}
/* end mobile burger menu */

/* header */
.about-us {
    background: url('assets/media/about-us/about-us-bg.jpg');
    background-position: bottom !important;
    height: 70vh !important;
}
.header, .about-us, .services-header {

    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    background-size: cover;
}

.arrow {
    animation: down 5s ease infinite;
    cursor: pointer;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

@keyframes down {
    0% {
        top: 95%;
    }
    25% {
        top: 90%;
    }
    50% {
        top: 95%;
    }
    75% {
        top: 90%;
    }
    100% {
        top: 95%;
    }
}

.arrow i {
    color: #fff;
    font-size: 2rem;
}

/* video bg */

.bg-video {
    position: absolute;
	background-position: center;
	background-size: 100%;
	background-size: contain;
	right: 0;
	height: 100%;
	top: 0;
    opacity: .6;
    object-fit: cover;
	width: 100%;
	z-index: -1;
}

.header::after,
.section::after,
.started::after {
    content: '';
    background: var(--black-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .45;
    z-index: -1;
}

.container {
    height: 100%;
    display: var(--flex);
    justify-content: center;
    align-items: center;
    flex-direction: var(--flex-column);
}

.title {
    color: var(--white-color);
    width: 60%;
}

.about-us-title {
    text-align: center;
    position: relative;
    top: 100px;
    width: 100% !important;
}

.title h1 {
    font-size: 5rem;
}

.title p {
    font-size: 1rem;
    padding: 10px 0;
}

.search-job {
    display: var(--flex);
}

input {
    width: 100%;
    border: none;
    padding: 10px;
    -webkit-border-radius: 0px;
}

input[type=checkbox] {
  -webkit-appearance: auto !important;
  -moz-appearance:    none;
  appearance:         none;
  border: 1px solid #000;
  cursor: pointer;
}

input[type="submit"]{
    -webkit-appearance: none;
    border-radius: 0;
}


select {
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNzE3MTcxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIHN0eWxlPSJzaGFwZS1yZW5kZXJpbmc6Z2VvbWV0cmljUHJlY2lzaW9uO3RleHQtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjtpbWFnZS1yZW5kZXJpbmc6b3B0aW1pemVRdWFsaXR5OyIgdmlld0JveD0iMCAwIDY2OCAzNzUiIHg9IjBweCIgeT0iMHB4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4KICAgCiAgICAuZmlsMCB7ZmlsbDojNzE3MTcxfQogICAKICA8L3N0eWxlPjwvZGVmcz48Zz48cGF0aCBjbGFzcz0iZmlsMCIgZD0iTTM2MyAzNjNsMjkzIC0yOTJjMTYsLTE3IDE2LC00MyAwLC01OSAtMTYsLTE2IC00MywtMTYgLTU5LDBsLTI2MyAyNjMgLTI2MyAtMjYzYy0xNywtMTYgLTQzLC0xNiAtNTksMCAtMTYsMTYgLTE2LDQyIDAsNTlsMjkyIDI5MmMxNywxNiA0MywxNiA1OSwweiI+PC9wYXRoPjwvZz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-x: -0;
    background-position-y: 13px;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    padding: 10px;
    padding-right: 2rem;
    padding-left: 25px;
    width: 300px;
}

.btn-jobs {
    width: 300px;
}

/* about us section text */

.info {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.info .section-text {
    width: auto;
}
.info .section-text h2 {
    color: var(--orange-color);
    font-size: 2.5rem;
}

.info .section-text p {
    color: var(--font-color);
    margin-top: 20px;
}

.services-list ul {
    display: block;
    color: var(--font-color);
    font-weight: var(--bold-txt);
    margin-top: 20px;
}

.services-list ul li::before {
    content: "\2022";
    color: var(--btn-blue);
    display: inline-block;
    width: 1em;
    font-size: 2rem;
    position: relative;
    top: 3px;
}
/* icon section about us page */

.info .space {
    margin-bottom: 50px;
}

.icon-section {
    display: var(--flex);
    justify-content: var(--flex-space);
    align-items: center;
    border-bottom: 1px solid;
}

.icon {
    border-right: 1px solid;
    width: 100%;
    text-align-last: center;
}

.icon img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.icon p {
    text-transform: uppercase;
    padding: 10px;
    font-size: .9rem;
    text-align: center;
}

.no-border {
    border: none !important;
}

/* about us */

.started {
    background: url(../assets/media/about-us/handshake.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin: 100px 0 0;
    display: var(--flex);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.started-text {
    text-align: center;
    color: #fff;
}

.started-text .btn {
    margin-top: 50px;
}

.started-text h3 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.started-text p {
    padding-bottom: 10px;
}

/* header end */

/* section one */

.btns-recruiting {
    display: var(--flex);
    justify-content: space-evenly;
    padding: 5px;
}

.btns{
    width: 33%;
    background-color: var(--orange-color);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
    position: sticky;
    z-index: 1;
}
.btns-2 {
    width: 33%;
    background-color: var(--btn-blue);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
    position: sticky;
    z-index: 1;
}
.btns-3 {
    width: 33%;
    background-color: var(--btn-blue);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
    position: sticky;
    z-index: 1;
}

.btns::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--orange-color) transparent transparent transparent;
}

.btns-2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 20px;
    border-style: none;
    border-color: var(--btn-blue) transparent transparent transparent;
}

.btns-3::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 20px;
    border-style: none;
    border-color: var(--btn-blue) transparent transparent transparent;
}

.btn-page {
    width: 220px;
    height: 60px;
}

.professional-recruiting {
    display: var(--flex);
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.side-text h3 {
    font-size: 1.8rem;
    color: var(--orange-color);
    padding: 0 0 10px;
}

.side-text p {
    color: var(--font-color);
}

.side-text > .btn-side,
.section-text > .btn-side  {
    padding: 40px 0;
    display: var(--flex);
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.tabTwo, .tabThree {
    display: none;
}

/* end section one */

/* section two */

.section {
    background: url(../assets/media/home/man-laptop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 100px 0;
    display: var(--flex);
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
}

@supports ( -webkit-touch-callout : none) {
.section, .recruit, .about-us, .job-header, .tie, .candidates-header, .employers-header, .services-bg, .services-header,
.contactus-header {
background-attachment:scroll;
background-size: cover;
    }
}

@supports not ( -webkit-touch-callout : none) {
.section, .recruit, .about-us, .job-header, .tie, .candidates-header, .employers-header, .services-bg, .services-header,
.contactus-header {
background-attachment: fixed !important;
}
}

.section-text {
    width: 50%;
}

.section-text h3  {
    font-size: 1.8rem;
    color: #fff;
    padding: 0 0 10px;
}

.section-text p {
    color: #fff;
    width: 90%;
}

.section-text .btn-side > .btn {
    background-color: var(--btn-blue);
}
.section-text .btn-side > .btn:nth-child(2) {
    border-color: var(--btn-blue);
    background-color: transparent;
    color: #fff;
}
/* end section two */

/* section 3 */

.jobs {

    text-align: center;
}
.job-h3 p {
    color: var(--font-color);
    padding: 10px 0 50px 0;
}

.job-list {
    display: var(--flex);
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 20px 0;
    border-top: 0.5px solid #A6A8A9;
    border-bottom: 0.5px solid #A6A8A9;
    width: 90%;
    margin: 0 auto;
}

.job-position {
    align-items: center;
    cursor: pointer;
    display: var(--flex);
    text-align: initial;
    width: 33%;
}

.job-position img {
    width: 55px;
    padding: 0 10px 0 0;
}

.job-title h3 {
    padding: 0 0 10px 0;
}

.job-title p {
    color: var(--font-color);
}

.job-2 {
    border-top: none;
}

.location {
    display: var(--flex);
    width: 33%;
    color: var(--font-color);
    cursor: pointer;
}
.location i {
    margin: 0 10px 0 0;
}

.time-position {
    align-items: center;
    background-color: #73D277;
    color: #fff;
    cursor: pointer;
    display: var(--flex);
    font-weight: var(--bold-txt);
    height: 40px;
    text-transform: uppercase;
    justify-content: center;
    width: 20%;
}

.part-time {
    background-color: #D273C9;
}

/* section 3 end */

/* section 4 */

.recruit {
    background: url(../assets/media/home/city-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* justify-content: flex-start; */
}

.city {
    width: 50%;
    padding: 0 0 0 50px;
}

.city h3 {
    text-align: right;
}
.city p {
    text-align: right;
    width: 100%;
}

.city .btn-side {
    justify-content: flex-start;
}
/* section 4 end */
/* section 5 */

.our-benefits {
    text-align: center;
    padding-bottom: 100px;
}
.benefits-title h3 {
    padding-bottom: 20px;
}
.benefits-title p {
    color: var(--font-color);
    padding-bottom: 50px;
}
.benefits {
    display: var(--flex);
    justify-content: var(--flex-space);
    align-items: center;
}
.benefit-1 {
    width: 20%;
    margin: 0 auto;
}
.benefit-1 h3 {
    color: var(--btn-blue);
    padding: 10px 0 10px 0;
}
.benefit-1 p {
    color: var(--font-color);
}

/* section 5 end */
/* section 6 */

.candidates {
    height: 60vh;
    background-color: var(--btn-blue);
    display: var(--flex);
    flex-direction: var(--flex-column);
    justify-content: center;
}

.candidates-title {
    text-align: center;
    padding-top: 50px;
}

.candidates-title h3, .candidates-title p {
    color: #fff;
    padding-bottom: 10px;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.border{
    width: 100px;
    height: 3px;
    background: #fff;
    margin: 20px auto;
}

.testimonial{
  background: #f1f1f1;
  padding: 30px;
  overflow: hidden;
  cursor: pointer;
}

.test-info{
  display: var(--flex);
  height: 60px;
  align-items: center;
}

.test-pic{
  width: 50px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.test-name{
  font-size: 12px;
  color: #333;
}

.test-name span{
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #3498db;
}

.testimonial p{
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
}

/* job section page */

.job-header {
    background: url(../assets/media/jobs/bg.jpg);
    /* background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 70vh;
    background-size: cover; */
}

.job-header .container .title {
    width: 80%;
}

.no-width {
    text-align: left;
}

.width-50 {
    width: 50%;
}

.no-width i {
    color: #2E3A59;
}

.positions {
    display: var(--flex);
    justify-content: var(--flex-space);
    align-items: center;
    width: 100%;
}

.job-search {
    display: var(--flex);
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    margin-top: 100px;
}

.job-filter {
    width: 20%;
}

.filter-title {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid;
    padding: 0 0 20px 0;
}

.filter-option {
    display: var(--flex);
    justify-content: var(--flex-space);
    padding: 20px 0;
    border-bottom: 1px solid;
}

.filter-option i {
    color: #2E3A59;
}

.flex {
    display: var(--flex);
    justify-content: var(--flex-space);
}

.flex  div ~ div p {
    font-size: 1rem;
    font-weight:normal;
}

.space {
    margin-right: 20px;
}
.down {
    margin-bottom: 20px;
}

.pages {
    display: var(--flex);
    font-size: 1.5rem;
    margin-top: 40px;
    align-items: center;
}

.pages p {
    margin-right: 50px;
}

.pages p:nth-child(1) {
    background-color: var(--btn-blue);
    width: 50px;
    color: #fff;
    text-align: center;
}

.pages i {
    color: #2E3A59;
    font-size: 2rem;
}

.tie  {
    background: url(../assets/media/jobs/tie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.settings {
    display: none;
}

/* candidates page */

.candidates-header {
    background: url(../assets/media/candidates/taking-notes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 70vh;
    background-size: cover;
}

.candidates-section {
    display: var(--flex);
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.pic-candidates {
    margin-top: 50px;
}

.pic-candidates img {
    width: 500px;
    margin-right: 100px;
}

.two {
    flex-direction: row-reverse;
    text-align: end;
}

.two .btn-side {
    justify-content: end;
}

.two .pic-candidates img {
    margin: 0 0 0 100px;
}

.pages-candidates {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.whole-tabTwo,
.whole-tabThree {
    display: none;
}

/* employers page */

.employers-header  {
    background: url(../assets/media/employers/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 70vh;
    background-size: cover;
}

.form span {
    color: var(--orange-color);
}

.separator {
    display: var(--flex);
    margin-top: 30px;
    margin-bottom: 20px;
}

.separator div {
    width: 300px;
}

.separator input {
    border-bottom: 1px solid #a2a2a2;
}

.separator select {
    -webkit-appearance: auto;
    background-image: unset;
    padding: 10px 0;
}

.separator textarea {
    margin-top: 25px;
}

.separator textarea::placeholder {
    padding: 5px 5px;
}

.left {
    margin-left: 50px;
}

.margin  {
    margin-top: 100px !important;
}

.check {
    width: auto;

}

.services-section {
    display: var(--flex);
    justify-content: var(--flex-space);
    align-items: center;
    margin-top: 50px;
}
.services-icon {
    text-align: center;
}

.services-icon h3 {
    padding: 10px 0;
    color: var(--orange-color)
}

.services-icon p {
    width: 300px;
    color: var(--font-color)
}

.services-bg {
    background: url(../assets/media/employers/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* services page */

.services-header {
    background: url(../assets/media/services/services.jpg);
    background-position: bottom;
    height: 70vh !important;
    background-size: cover;
}

.section-text span {
    color: var(--orange-color);
}

.flex .section-text,
.up-top {
    margin-top: 50px !important;
}

.margin-left {
    text-align: left;
    margin-left: 10px;
    padding: 0 !important;
}

.h70 {
    height: 70vh;
}

/* contact us */

.contactus-header {
    background: url(../assets/media/contact/contact-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 70vh;
    background-size: cover;
}

/* reviews carousel */

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(241, 241, 241, 0.507);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #ffffff;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    color: #fff;
}

/* Add a blue color to the author */
.author {
    color: rgb(255, 255, 255);
    font-weight: var(--bold-txt);
    margin-top: 10px;
}


/* questions section */

.questions {
    text-align: center;
    padding: 50px 0;
}

.questions-h3 p {
    color: var(--font-color);
    padding-top: 20px;
}

/* footer */

.footer {
    align-items: center;
    background-color: var(--footer-bg);
    color: var(--white-color);
    display: var(--flex);
    justify-content: space-evenly;
    height: 50vh;
}

.up {
    margin-top: 20px !important;
}

.up a {
    margin-right: 30px;
}

.logo-footer img {
    width: 200px;
}

.logo-footer p  {
    width: 300px;
}

.txt h3 {
    text-transform: uppercase;
}

.txt ul {
    display: block;
    padding-top: 20px;
}

.txt ul li {
    padding: 1px 0;
}

.txt ul li i {
    margin-right: 10px;
}

.copyright {
    text-align: center;
    height: 10vh;
    background-color: var(--footer-date);
    color: var(--white-color);
    display: var(--flex);
    justify-content: center;
    align-items: center;
}




/* media queries */

@media all and (max-width: 1500px) {
    .social-icons {
        width: 30%;
    }
    .title h1 {
        font-size: 4rem;
    }
}

@media all and (max-width: 1150px) {
    .links {
        display: none;
    }
    ul {
        flex-direction: var(--flex-column);
    }
    .btn:nth-child(2) {
        color: #fff;
        margin: 20px 0;
    }
    .menu-wrap {
        display: initial;
        top: 50px;
    }
    .title {
        width: 70%;
    }
    .title h1 {
        font-size: 3.5rem;
    }
    .professional-recruiting {
        align-items: flex-start;
        flex-direction: var(--flex-column);
        width: 90%;
    }
    .btn-side > .btn:nth-child(2) {
        color: #000;
        margin: 0 20px 0 0;
    }
    .side-text > .btn-side {
        align-items: center;
    }
    .section-text {
        padding: 0 10px 0 0;
        width: 60%;
    }
    .section-text h3 {
        font-size: 1.5rem;
    }
    .section-text p {
        width: 100%;
    }
    .job-title h3 {
        font-size: 1rem;
    }
    .job-title p, .location, .time-position {
        font-size: .9rem;
    }
    .info {
        width: 80%;
    }
}

@media all and (max-width: 1184px) {
    .icon img {
        width: 50px;
        height: 50px;
    }
    .icon p {
        font-size: .8rem;
    }
}

@media all and (max-width: 1100px) {
    .social-icons {
        width: 40%;
    }
    .section-text, .city {
        margin: 0 auto;
        width: 90%;
    }
    .benefits {
        flex-wrap: wrap;
    }
    .benefit-1 {
        width: 40%;
        padding-bottom: 50px;
    }
    .footer {
        align-items: flex-start;
        flex-direction: var(--flex-column);
        padding: 50px;
        height: auto;
    }
    .txt {
        padding: 20px 0;
    }
    .logo p {
        width: fit-content;
    }
    .icon p {
        font-size: .7rem;
        width: auto;
    }
    .info {
        width: 90%;
    }
    .candidates-section {
        width: 95%;
    }
    .pic-candidates img {
        margin-right: 30px;
    }
    .two .pic-candidates img {
    margin: 0 0 0 30px;
    }
    .pages-candidates {
        width: 95%;
        margin-top: 0;
    }
    .anch  {
        width: 95%;
    }
}

@media all and (max-width: 1000px) {
    .filter-option {
        display: none;
    }
    .settings {
        display: initial;
    }
    .settings i {
        color : #2E3A59;
        font-size: 1.5rem;
    }
    .jobs {
        width: 100%;
    }
    .job-search {
        flex-direction: var(--flex-column);
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .job-filter {
        display: var(--flex);
        justify-content: var(--flex-space);
        align-items: center;
        width: 100%;
    }
    .filter-title {
        border: none;
    }
    .candidates-section {
        flex-direction: var(--flex-column);
    }
    .pic-candidates img,
    .two .pic-candidates img {
        width: 100%;
        margin: 0;
    }
    .two {
        text-align: start;
    }
    .two .btn-side {
        justify-content: flex-end;
    }
    .separator {
        flex-direction: var(--flex-column);
        margin: 0;
        padding: 0;
    }
    .separator div {
        padding: 2px 0;
    }
    .martop {
        margin-top: 50px;
    }
    .left {
        margin: 10px 0;
    }
    .services-section {
        flex-direction: var(--flex-column);
    }
    .services-icon {
        padding: 25px 0;
    }
    .margin {
        text-align: center;
    }
    .footer {
        text-align: left;
    }
}

@media all and (max-width: 790px) {
    .social-icons,
    .slogan,
    .nav-links,
    .btn-jobs {
        display: none;
    }
    .btn-call-us,
    .logo-mobile,
    .btn-job-mobile {
        display: initial;
    }
    /* .btn-mobile {
        background-color: var(--btn-blue);
    } */
    .btn-job-mobile {
        width: 100%;
    }
    .menu {
        background-color: transparent;
    }
    .menu-wrap {
        top: 20px;
    }
    .title {
        width: 80%;
    }
    .btns-recruiting {
        flex-direction: var(--flex-column);
    }
    .btns, .btns-2, .btns-3 {
        width: 100%;
    }
    .pic img {
        width: 100%;
    }

    .job-list {
        display: inherit;
    }
    .job-position {
        display: block;
        width: 100%;
    }
    .job-title {
        padding: 0 0 10px 0;
    }
    .location {
        font-weight: var(--bold-txt);
        padding: 0 0 10px 0;
        width: 100%;
    }
    .jobs .location i {
        display: none;
    }
    .time-position {
        width: 100%;
    }
    .city h3, .city p {
        text-align: left;
    }
    .city .btn-side {
        justify-content: flex-end;
    }
    .info .flex {
        flex-direction: var(--flex-column);
    }
}

@media all and (max-width: 750px) {
    .breaker {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-section {
        flex-direction: var(--flex-column);
        border-right: 1px solid;
        border-bottom: none;
    }
    .icon  {
        border-bottom: 1px solid;
        border-right: none;
    }
    .filter-title {
        font-size: 1rem;
    }
    textarea,
    .separator select {
        width: 100%;
    }
    .slideshow-container {
        width: 100%;
    }
    .txt {
        font-size: .9rem;
    }
}

@media all and (max-width: 640px) {
    .title {
        width: 90%;
    }
    .title h1 {
        font-size: 2.5rem;
    }
    .about-us-title h1 {
        font-size: 2rem;
    }
    select {
        width: 150px;
    }
    .btn-page {
        width: 45%;
        height: 46px;
    }
    .section {
        margin: 50px 0;
    }
    .section-text {
        padding: 0;
    }
    .benefit-1 img {
        width: 60px;
    }
    .benefit-1 h3  {
        font-size: 1rem;
    }
    .benefit-1 p {
        font-size: .9rem;
    }
    .footer {
        padding: 20px;
    }
    .logo-footer img {
        width: 150px;
    }
    .logo-footer p {
        width: fit-content;
    }
    .info .section-text h2 {
        font-size: 2rem;
    }
    .started-text h3 {
        font-size: 2rem;
        padding: 5px;
    }
    .pages {
        font-size: 1rem;
    }
    .pages p {
        margin-right: 20px;
    }
    .pages i {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 414px) {
    .section {
        height: 80vh;
    }
    .candidates-header > .container .title h1 {
        font-size: 2rem;
    }
}

@media all and (max-width: 360px) {
    .about-us-title h1 {
        font-size: 1.6rem;
    }
}

@media all and (max-width: 320px) {
    .started-text h3 {
        font-size: 1.8rem;
    }
    .candidates-header > .container .title h1,
    .employers-header h1 {
        font-size: 1.5rem;
        margin-top: 100px;
    }
}
