.form-control{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm
}

.form-table{
    @apply w-full flex flex-row flex-nowrap rounded-lg overflow-hidden sm:shadow-lg my-5
}

.form-table-tr{
    @apply flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0
}

.form-table-body{
    @apply flex-1 sm:flex-none
}

.form-tbody-tr{
    @apply flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0
}

.myShadow {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    background-size: cover;
  }

  .myShadow::after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .45;
    z-index: -1;
  }

  .myContainer {
      width: 100vh;
  }

  .s2  {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 100px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .s2::after {
    content: '';
    background:#000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .45;
    z-index: -1;
  }

  @supports ( -webkit-touch-callout : none) {
  .s2 {
  background-attachment:scroll;
  background-size: cover;
    }
  }

  @supports not ( -webkit-touch-callout : none) {
  .s2 {
  background-attachment: fixed !important;
  }
  }

  .fs35{
      font-size: 3.5rem !important;
  }

  .cliquear{
      @apply px-6 py-4 whitespace-nowrap text-sm text-center rounded-full cursor-pointer
  }





